*.pyc
*.aux
*1
epub/*.1
tex/*.tex.1
epub/*-images
tex/chrome.markdown
tex/dance.markdown
tex/ethercalc.markdown
tex/infinispan.markdown
tex/khmer.markdown
tex/memshrink.markdown
tex/mobile-perf.markdown
tex/ninja.markdown
tex/posa.bbl
tex/posa.blg
tex/posa.log
tex/posa.out
tex/posa.toc
tex/pugixml.markdown
tex/talos.markdown
tex/warp.markdown
tex/zotonic.markdown
epub/chrome.markdown
epub/dance.markdown
epub/ethercalc.markdown
epub/infinispan.markdown
epub/khmer.markdown
epub/memshrink.markdown
epub/mobile-perf.markdown
epub/ninja.markdown
epub/pugixml.markdown
epub/talos.markdown
epub/warp.markdown
epub/zotonic.markdown
output
